#imghas {
    width: 80px;
    height: 80px;
}
#container .card
{
  border-radius: 11px;
  border: 1px solid black;
  box-shadow: 5px 5px rgb(3, 7, 77);
}
#img_poco
{
  width: 80px;
  height: 80px;
}
