<br>
<h1 id='Etec'>ETEC Professor Horacio Augusto da Silveira</h1><br><br>



<div class="container3">

    <div class="card ">
        <img src=" assets\img\info.png " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Horario de Aulas</h5>
            <a routerLink="/aulas" class="btn btn-primary ">Clicar</a>
        </div>
    </div>

    <div class="card ">
        <img src=" assets\img\area.png " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Consulte seu Boletim</h5>
            <a routerLink="/Boletim/consultar" class="btn btn-primary ">Clicar</a>
        </div>
    </div>

    <div class="card ">
        <img src="assets\img\curso.png " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Calcule sua média</h5>
            <a routerLink="/Boletim" class="btn btn-primary ">Clicar</a>
        </div>
    </div>

</div>
